* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
  font-family: "Roboto";
  color: white;
  width: 100%;
}

main {
  flex: 1;
}

/*Custom Scrollbar*/

::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar-thumb {
  background-color: #e9e9e9;
  border-radius: 6px;
  height: 8px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #b5b5b5;
}

::-webkit-scrollbar-track {
  background-color: #535353;
}

.main-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  transition: margin-left 0.3s;
  position: relative;
  flex-grow: 1;
}

html {
  background-image: url("./images/background.webp");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 100%;
}

/* Style the main menu */
.main-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.list-menu {
  list-style: none;
  display: flex;
  flex-direction: row;
  height: 100%;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
}

.list-menu li {
  margin: 60px;
  padding: 0 20px;
}

.list-menu a:active {
  transition: all 0.3s ease;
  transform: scale(1.1) translateX(0%);
}

@media screen and (max-width: 768px) {
  .list-menu li {
    margin: 20px;
  }

  .list-menu {
    list-style: none;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    align-items: center;
  }
}

.menu-item a {
  text-decoration: none;
  color: #000000;
  font-weight: bold;
  font-size: 35px;
  transition: color 0.3s;
}

.menu-item a:hover {
  color: #545454;
}

.menu-item {
  display: inline-block;
  position: relative;
  transition: transform 2s ease;
  transform-origin: center;
  max-width: 100%;
  min-width: 100%;
}

.menu-item:hover {
  transform: scale(1.3) translateX(0%);
}

.menu-item:hover::before {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: transparent;
  transition: background-color 0.3s ease;
  background-color: rgba(0, 0, 0, 0);
}

.menu-item:hover::before {
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  color: #000000;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 5px 10px;
  border-radius: 5px;
  opacity: 0;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease, opacity 0.3s ease;
}

h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  transition: transform 2s ease;
  transform-origin: center;
  margin-bottom: 50px;
  margin-top: 70px;
  color: #282424;
  max-width: 60%;
  min-width: 30%;
}

h1:hover {
  transform: scale(1.1) translateX(0%);
}

h1:hover::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: transparent;
  transition: background-color 0.3s ease;
  background-color: rgba(0, 0, 0, 0);
}

h1:hover::before {
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  color: #ffffff;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 5px 10px;
  border-radius: 5px;
  opacity: 0;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease, opacity 0.3s ease;
}

.julian-avatar {
  width: 250px;
  height: 200px;
  object-fit: contain;
  margin-top: 50px;
  max-width: 100%;
  max-height: 100%;
  margin-left: 20px;
  border-radius: 70%;
}

/*footer styles*/

footer {
  color: #000000;
  text-align: center;
  padding: 10px;
  position: relative;
  bottom: 0;
  margin-top: auto;
}

.footer-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-social {
  display: flex;
  justify-content: center;
}

.footer-bottom {
  text-align: center;
  padding-top: 10px;
  font-size: 12px;
}

.footer-social a {
  display: inline-block;
  width: 30px;

  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

  margin: 0 20px;
}

.icon-container {
  display: inline-block;
  width: 30px;
  height: 30px;
  margin: 0 30px;
}

.footer-social i:hover {
  color: #636363;
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2);
  transition: all 0.8s ease;
}

.footer-social i:active {
  color: #ffffff;
  transition: all 0.3s ease;
  transform: scale(1.1) translateX(0%);
}

.footer-social i {
  color: #000000;
  font-size: 30px;
}

/*Contact Page*/

.contact {
  color: black;
  margin-top: 20px;
  margin-bottom: 60px;
  max-width: 40%;
  font-size: 20px;
}

.email-button {
  display: inline-block;
  padding: 25px 55px;
  background-color: #000000;
  color: #fff;
  text-decoration: none;
  border-radius: 35px;
  font-weight: bold;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  position: relative;
  transition: all 0.8s ease;
  font-size: 20px;
}

.email-button:hover {
  background-color: #707070;
  transform: scale(1.05);
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2);
}

email-button::before {
  content: "\2709";
  /* Unicode envelope symbol */
  font-size: 20px;
  margin-right: 10px;
}

email-button,
email-button::before {
  display: flex;
  align-items: center;
  justify-content: center;
}

.email-button:active {
  animation: pulse 0.5s infinite;
}

.email-button::before {
  content: "\2709";
  /* Unicode envelope symbol */
  font-size: 20px;
  margin-right: 10px;
}

.email-button,
.email-button::before {
  display: flex;
  align-items: center;
  justify-content: center;
}

/*Services page*/

h2 {
  color: black;
  display: inline-block;

  transition: transform 0.5s ease;

  font-size: 3vw;
  /* Relative font size based on viewport width */
  max-width: 80%;
  /* Limit maximum width to 80% of the viewport width */
  text-align: center;
  cursor: default;
}

.left-chat:hover h2,
.right-chat:hover h2 {
  transform: scale(1.1) translateX(0%);
  transition: transform 1s ease;
}

.chat-container {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.left-chat {
  width: 50%;
}

.right-chat {
  width: 50%;
}

.avatar-chat-bubble {
  background-color: white;
  box-shadow: 0px 0px 5px black;
  position: absolute;
  left: 50%;
  top: 50%;
  color: black;
  padding: 12px 20px;
  border-radius: 16px;
}

.software-engineer-chat-bubble {
  opacity: 0;
  transition: opacity 1s;
  transform: translate(-120%, -50%);
  width: 400px;
}

.musician-chat-bubble {
  opacity: 0;
  transition: opacity 1s;
  transform: translate(18%, -50%);
  width: 575px;
}

.avatar-container {
  position: relative;
}

/*Portfolio page*/

a {
  text-decoration: none;
}

.circle-container {
  max-width: 1280px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.circle-container > div {
  width: 100%;
  margin-bottom: 30px;
}

@media screen and (min-width: 768px) {
  .circle-container > div {
    width: 36%;
    margin-bottom: 105px;
  }
}

@media screen and (min-width: 1024px) {
  .circle-container > div {
    width: 57%;
  }
}

#portfolio-one,
#portfolio-two,
#portfolio-three,
#portfolio-four,
#portfolio-five,
#portfolio-six {
  width: 200px;
  height: 190px;
  object-fit: cover;
  border-radius: 50%;
  margin-right: 10px;
  margin: 0 auto;
}

#portfolio-one:hover,
#portfolio-two:hover,
#portfolio-three:hover,
#portfolio-four:hover,
#portfolio-five:hover,
#portfolio-six:hover {
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2);
  color: #7d7d7d;
  opacity: 0.8;
}

#portfolio-one:active,
#portfolio-two:active,
#portfolio-three:active,
#portfolio-four:active {
  color: white;
}

.portfolio-des {
  color: black;
  max-width: 100%;
  word-spacing: 2px;
  line-height: 25px;
  font-size: 20px;
}

@media screen and (max-width: 768px) {
  .contact {
    max-width: 80%;
    min-width: 80%;
  }

  #services-heading {
    font-size: 22px;
  }

  .left-chat h2 {
    font-size: 18px;
  }

  .right-chat h2 {
    font-size: 18px;
  }

  .software-engineer-chat-bubble {
    opacity: 0;
    transition: opacity 1s;
    top: 34%;
    left: 120%;
    width: 100%;
  }

  .musician-chat-bubble {
    opacity: 0;
    transition: opacity 1s;
    width: 120%;
    top: 33%;
    left: -31%;
  }

  #services-avatar {
    margin-top: 300px;
  }

  #portfolio-one,
  #portfolio-two,
  #portfolio-three,
  #portfolio-four {
    width: 200px;
    height: 190px;
    object-fit: cover;
    border-radius: 50%;
    margin-top: 50px;
  }

  #portfolio-avatar-container {
    margin-top: 300px;
  }

  .portfolio-des {
    max-width: 70%;
  }
}
